:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: rgb(1, 6, 78);

  /* Fonts */
  --font-roboto: "Roboto";
}
